!# ------------------------------------------------------------------------------
!# URxvt standard arcolinux theme - Reload with xrdb -merge ~/.Xresources
!# ------------------------------------------------------------------------------

! general settings
URxvt*saveline:         15000
URxvt*termName:         xterm-256color
URxvt*urgentOnBell:     false
URxvt*visualBell:       false
URxvt*iso14755:         false
URxvt*iso14755_52:      false
URxvt*meta8:            false
URxvt*metaSendsEscape:  true
URxvt*iconFile:  	/usr/share/icons/Sardi-Mono/scalable/apps/terminal.svg

! appearance
URxvt*depth:             32
!URxvt*transparent:      true
URxvt*shading:          30
URxvt*background:       rgba:2222/2222/2222/AAAA
!URxvt*background:       [80]#404552
!URxvt*background:       [70]#3F424A
!URxvt*background:        [80]#282A36
URxvt*foreground:        #F8F8FF
URxvt*underlineColor:    #4682B4
URxvt*highlightColor:    #4682B4
URxvt*throughColor:      Blue
URxvt*cursorColor:       #c5c8c6
URxvt*scrollBar:         false
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
URxvt*internalBorder:    0
URxvt*externalBorder:    0
URxvt*colorIT:      	 #87af5f
URxvt*colorBD:      	 #c5c8c6
URxvt*colorUL:      	 #87afd7


! colors
URxvt*color0:     #000000
URxvt*color8:     #4D4D4D
URxvt*color1:     #FF5555
URxvt*color9:     #FF6E67
URxvt*color2:     #50FA7B
URxvt*color10:    #5AF78E
URxvt*color3:     #F1FA8C
URxvt*color11:    #F4F99D
URxvt*color4:     #BD93F9
URxvt*color12:    #CA9FA
URxvt*color5:     #FF79C6
URxvt*color13:    #FF92D0
URxvt*color6:     #8BE9FD
URxvt*color14:    #9AEDFE
URxvt*color7:     #BFBFBF
URxvt*color15:    #E6E6E6A


! fonts
URxvt*letterSpace: 	    		-1
URxvt*font:                 	xft:MesloLGS NF:size=14
URxvt*imFont:               	xft:MesloLGS NF:regular:size=14
URxvt*boldFont:             	xft:MesloLGS NF-14::weight=bold
!URxvt*italicFont:           	xft:Monospace:italic:size=12
!URxvt*boldItalicFont:     		xft:Monospace:regular:size=12
! run :.!fc-list | grep <font-name>

! perl extensions
URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,resize-font
!URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,tabbed

! macros for clipboard and selection
URxvt*copyCommand:      xclip -i -selection clipboard
URxvt*pasteCommand:     xclip -o -selection clipboard
URxvt*keysym.M-c:       perl:clipboard:copy
URxvt*keysym.M-v:       perl:clipboard:paste
URxvt*keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt*keysym.M-Escape:  perl:keyboard-select:activate
URxvt*keysym.M-s:       perl:keyboard-select:search
URxvt*keysym.M-u:       perl:url-select:select_next
URxvt*resize-font.smaller:	C-Down
URxvt*resize-font.bigger:	C-Up
URxvt*urlLauncher:      google-chrome-stable
URxvt*underlineURLs:    true
URxvt*urlButton:        1
URxvt*geometry: 		90x30

! tabbed
URxvt*tabbed.tabbar-fg: 4
URxvt*tabbed.tabbar-bg: 16
URxvt*tabbed.tab-fg:    15
URxvt*tabbed.tab-bg:    4
URxvt*buffered:         false
URxvt*keysym.Control-Shift-c: perl:clipboard:copy
URxvt*keysym.Control-Shift-v: perl:clipboard:paste


!---------------------------------
! Xft settings
! --------------------------------
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgba
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   false
Xft.lcdfilter:  lcddefault


! ------------------------------------------------------------------------------
! UXTerm standard arcolinux theme
! ------------------------------------------------------------------------------



! termtype
UXTerm*termName: xterm-256color


UXTerm*cursorColor:        white
UXTerm*VT100.geometry:     90x30
UXTerm*font:               Monospace
UXTerm*faceSize:		   12
UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
UXTerm*saveLines:          10000
UXTerm*scrollKey:          true
UXTerm*scrollTtyOutput:    false
UXTerm*scrollBar:          false
UXTerm*rightScrollBar:     false
UXTerm*jumpScroll:         true
UXTerm*multiScroll:        true
UXTerm*toolBar:            false

! fix colors
UXTerm*background: rgb:63/63/63
UXTerm*foreground: rgb:00/00/00
UXTerm*color0: rgb:00/00/00
UXTerm*color1: rgb:a8/00/00
UXTerm*color2: rgb:00/a8/00
UXTerm*color3: rgb:a8/54/00
UXTerm*color4: rgb:00/00/a8
UXTerm*color5: rgb:a8/00/a8
UXTerm*color6: rgb:00/a8/a8
UXTerm*color7: rgb:a8/a8/a8
UXTerm*color8: rgb:54/54/54
UXTerm*color9: rgb:fc/54/54
UXTerm*color10: rgb:54/fc/54
UXTerm*color11: rgb:fc/fc/54
UXTerm*color12: rgb:54/54/fc
UXTerm*color13: rgb:fc/54/fc
UXTerm*color14: rgb:54/fc/fc
UXTerm*color15: rgb:fc/fc/fc
UXTerm*boldMode: false
UXTerm*colorBDMode: true
UXTerm*colorBD: rgb:3f/3f/3f
